@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  /* Colors */
  --color-brand: #ff8a5b;
  --color-canvas: #fffdf9;

  /* Custom "Sketchy" Border Radii */
  --radius-sketch: 225px 15px 225px 15px / 15px 225px 15px 255px;
  --radius-inner-sketch: 20px 300px 20px 300px / 300px 20px 300px 20px;

  /* Adding a hand-drawn font if you have one */
  /* --font-hand: "Architects Daughter", cursive; */
  --font-sans: var(--font-geist-sans);
  --font-serif: var(--font-playfair);
  --font-hand: var(--font-gaegu);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/*
body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

*/
